{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container text-center">
    <h2 class ="m-5 perso_colorBlueLight">Mes compétences</h2>
    <div class="row">
        <div class="col">
            HTML / CSS
        </div>
        <div class="col">
            PHP / POO
        </div>
    </div>
</div>
{% endblock %}

